# Assignment: Basic Python


```{admonition} Learning Goals
:class: tip

This assignment will verify that you have the following skills:
- Create lists and dictionaries
- Iterate through lists, tuples, and dictionaries
- Index sequences (e.g. lists and tuples)
- Define functions
- Use optional keyword arguments in functions
```

## Part I: Lists and Loops

In this problem, we will explore the basic data structures and flow controls of Python by _manually creating data structures_.


```{warning}
Pluto is [not a planet any more](https://www.loc.gov/everyday-mysteries/item/why-is-pluto-no-longer-a-planet/).
```

### 1) Create a list with the names of every planet in the solar system (in order)

In [1]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

### 2) Have Python tell you how many planets there are by examining your list

In [2]:
len(planets)

8

### 3) Use slicing to display the first four planets (the rocky planets)

In [3]:
planets[0:4]

['Mercury', 'Venus', 'Earth', 'Mars']

### 4) Iterate through your planets and print the planet name only if it has an `s` at the end

In [4]:
for x in planets:
    if x.endswith("s"):
        print(x)

Venus
Mars
Uranus

## Part II: Dictionaries

### 1) Now create a dictionary that maps each planet name to its mass

You can use values from this [NASA fact sheet](https://nssdc.gsfc.nasa.gov/planetary/factsheet/).
You can use whatever units you want, but be consistent.

In [5]:
mass = [0.330, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102]

planets.append("Pluto")
mass.append(0.0146)

planets_mass = dict(zip(planets, mass))
planets_mass

{'Mercury': 0.33,
 'Venus': 4.87,
 'Earth': 5.97,
 'Mars': 0.642,
 'Jupiter': 1898,
 'Saturn': 568,
 'Uranus': 86.8,
 'Neptune': 102,
 'Pluto': 0.0146}

### 2) Use your dictionary to look up Earth's mass

In [6]:
planets_mass["Earth"]

5.97

### 3) Loop through the data and create a list of planets whose mast is greater than 100 x 10^24 kg 

Display your result

In [7]:
heavy_planets = []
for x in planets_mass:
    if planets_mass[x]>100:
        heavy_planets.append(x)

heavy_planets

['Jupiter', 'Saturn', 'Neptune']

### 4) Now add pluto to your dictionary

## Part III: Functions

### 1. Write a function to convert temperature from kelvin to celsius

and celsius to kelvin

In [8]:
def K_to_C(x):
    """Convert temperature from kelvin to celsius"""
    return x-273.15

def C_to_K(x):
    """Convert temperature from celsius to kelvin"""
    return x+273.15

### 2. Write a function to convert temperature to fahrenheit

Include an optional keyword argument to specify whether the input is in  celcius or kelvin.
Call your previously defined functions if necessary.

In [9]:
def T_to_F(x, celsius=False):
    """Convert temperature to fahrenheit"""
    if celsius:
        return (x*9/5) + 32
    else:
        return (K_to_C(x)*9/5) + 32

### 3) Check that the outputs are sensible

by trying a few examples

In [10]:
print(K_to_C(273.15))
print(C_to_K(25))
print(T_to_F(15, celsius=True))
print(T_to_F(298.15))

0.0
298.15
59.0
77.0

### 4) Now write a function that converts _from_ farenheit

and uses a keyword argument to specify whether you want the output in celcius or kelvin

In [11]:
def F_to_T(x, celsius=False):
    """Convert from farenheit"""
    if celsius:
        return (x-32)*5/9
    else:
        return (x-32)*5/9+273.15

### 5) Write a function that takes two arguments (feet and inches) and returns height in meters

Verify it gives sensible answers

In [12]:
def height_in_meters(feet, inches):
    """Convert feet and inches to meters"""
    return str(feet/3.281) + "m", str(inches/39.37) + "m"

### 6. Write a function takes one argument (height in meters) and returns two arguments (feet and inches)

(Consult the [tutorial on numbers](https://docs.python.org/3/tutorial/introduction.html#numbers) if you are stuck on how to implement this.)

In [13]:
def meters_to_others(meters):
    """Convert meters to feet and inches"""
    return str(meters*3.281) + "feet", str(meters*39.37) + "inches"

### 7) Verify that the "round trip" conversion from and back to meters is consistent 

Check for 3 different values of height in meters

In [14]:
meters_to_others(3)

('9.843feet', '118.10999999999999inches')

In [15]:
height_in_meters(9.843, 118.10999999999999)

('3.0m', '3.0m')

In [16]:
meters_to_others(5)

('16.405feet', '196.85inches')

In [17]:
height_in_meters(16.405, 196.85)

('5.0m', '5.0m')

In [18]:
meters_to_others(7)

('22.967000000000002feet', '275.59inches')

In [19]:
height_in_meters(22.967000000000002, 275.59)

('7.0m', '7.0m')